@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    height: 800px;
    background: url(../img/main_bg.png) center center/cover no-repeat;
    padding: 39px 391px;
}

.container {
    position: relative;
    width: 1140px;
    text-align: center;

}

.logo img {
    display: block;
    width: 83px;
    margin: 0 auto;
}

.logo .caption {
    margin-top: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;

}

.title {

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-transform: uppercase;
    color: #F9BF3B;

}

.container>h1 {
    margin-top: 53px;
}

.simple h2 {
    margin-top: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container h2 {
    margin-top: 21px;
}

.title-text {
    margin-top: 23px;
    font-family: Roboto-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
}

.title-text span {
    color: #F9BF3B;
    font-family: Roboto-Bold;
    text-transform: uppercase;
}

.container button {
    margin-top: 72px;
    width: 313px;
    height: 72px;
    border-radius: 4px;
    left: 805px;
    top: 551px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    border-style: inset;
    border-color: #1e6072;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    
    font-family: Roboto-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    text-transform: uppercase;
    color: #FFFFFF;

    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}